<launch>
  <!-- declare arg to be passed in -->
  <arg name="env" default="sapienza_simulation"/>
  
  <!-- Scitos robot -->
  <include file="$(find strands_morse)/launch/scitos.launch"/>

  <node pkg="strands_morse" type="simulator.sh" respawn="false" name="strands_morse" output="screen" args="sapienza $(arg env).py"/>
  
</launch>
